<%= link_to raw('<div style="width: 100px; "><img width= 75%; src="/landing.png"> Ashley is home.</div>'), {:controller => "pages", :action => "iamhome", child: "ashley"} %>


<br>
<br>
<br>

<%= link_to raw('<div style="width: 100px; "><img width= 75%; src="/landing.png"> Lucas is home.</div>'), {:controller => "pages", :action => "iamhome", child: "lucas"} %>

