<%= link_to raw('<div style="width: 100px; height: 100px; border-color: green; border-style: solid; background-color: lightgreen;">Ashley is home.</div>'), {:controller => "pages", :action => "iamhome", child: "ashley"} %>


<br>
<br>
<br>

<%= link_to raw('<div style="width: 100px; height: 100px; border-color: blue; border-style: solid; background-color: lightblue;">Lucas is home.</div>'), {:controller => "pages", :action => "iamhome", child: "lucas"} %>

